.color-grigio {
    height: 100px;
    background-color: #bcbcbc;
}

.color-nero {
    height: 100px;
    background-color: black;
}

.color-nero2 {
    height: 50px;
    background-color: black;
}

.color-rosso {
    height: 100px;
    background-color: #e61623;
}

.color-rossoscuro {
    height: 100px;
    background-color: #9f1916;
}

.color-rossochiaro {
    height: 100px;
    background-color: #ef7477;
}

.color-bianco {
    height: 100px;
    background-color: white;
}
